@model List<Purchase>

<h4>Compras de @Context.User.Identity.Name:</h4>

<div class="row">
    <div class="col-md-2 p-4">
        <div class="row">
            <a asp-controller="User" asp-action="Profile" class="btn btn-dark mb-4">Perfil</a>
            <a asp-controller="User" asp-action="Purchases" class="btn btn-dark mb-4">Mis compras</a>
        </div>
        @*<div class="row">
        <a asp-controller="User" asp-action="Restaurants" class="btn btn-info mb-4">Restaurantes</a>
        </div>*@
    </div>
    <div class="col-md-10">
        @if (Model.Count == 0)
        {
            <div class="alert alert-danger text-center mt-4" role="alert">
                <h6>No hay compras para mostrar.</h6>
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ID de compra</th>
                        <th>Restaurante</th>
                        <th>Fecha</th>
                        <th>Productos</th>
                        <th>Total</th>
                        <th>Método de envío</th>
                        <th>Método de pago</th>
                        <th>Estado</th>
                        <th>Código</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var purchase in Model)
                    {
                        <tr>
                            <td>@purchase.Id</td>
                            <td>@purchase.RestaurantId</td>
                            <td>@purchase.RequestDate.ToShortDateString()</td>
                            <td>@purchase.Products</td>
                            <td>@purchase.TotalPrice €</td>
                            <td>@purchase.DeliveryMethod</td>
                            @if (purchase.PaymentMethod != null)
                            {
                                <td>@purchase.PaymentMethod</td>
                            }
                            else
                            {
                                <td>Se paga en tienda</td>
                            }
                            <td>@purchase.Status</td>
                            @if (purchase.Code != null)
                            {
                                <td>@purchase.Code</td>
                            }
                            else
                            {
                                <td>Sin código</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>